/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-data-tables-data-filter-donation-year {
	display: flex;
	flex-direction: row;
	align-items: center;
	flex-wrap: wrap;
	column-gap: var( --wp--preset--spacing--20 );
	row-gap: var( --wp--preset--spacing--10 );

	background-color: var( --wp--preset--color--gray-200 );
	padding: var( --wp--preset--spacing--10 );
}
